body1{
    color:white;
    background:black;
    margin:0 px;
    font:family:'chacka petch'sans serit;
}
header{
    border-bottom: solid 2px rdb(0,0,0)
    padding:20px;
    font-size:32px;
    color:rgb(0,0,0)
}
chamada{
    background:rgb(141, 27, 27);
    padding-bottom: px
    padding-top:8px;
    display:flex;
    justify consent:center;
}
chamada-texto{
          margin: right 5%;
}
61{
    font-size:40px:
}
p{
    font-size 20px:
}
categoria-video {
                 display:flex;
                 overflow:-x:auto;
                 gap:10px;
}
categoria{
         padding-left:20px
         padding-righ:20px
         margin-top:50px
         margin-botton:100px
}
categoria-videos img{
                 opacizy: 05;
                 height:200px
}
categoria-videos img:houve{
                    opacity:1.0;
                    border:1px solid purplue;
}
        
    
}
